.bgimage{background-image: url(part2/istockphoto-1307052468-612x612.jpg); background-size: 100%;
    background-attachment: scroll; background-repeat: no-repeat; text-align: center; 
    font-family:'Times New Roman', Times, serif; font-size: 700%; color: rgb(3, 41, 3); 
margin: 0%; padding: 0%;}

    .nab{
        width: 100%;
        /*margin: auto; */
       /* padding: 3px 10;*/
       padding-bottom: 0%;
       margin-bottom: 0%;
        display: flex;
        font-size: large;
        align-items: center;
        justify-items: space-between;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(48, 47, 47);
        
    }
    .logo{
        width: 60px;
        cursor: pointer;
    }
    .nab ul li{
        list-style: none;
        display: inline-block;
        margin: 0 50px;
        position: relative;  
    }
    
    .nab ul li a,.gw{
        text-decoration:none ;
        color: aliceblue;  
    }

    .footer{background-color: rgb(3, 61, 3); font-size: x-large; text-align: center; 
        color: aliceblue;}
        a:link{color: aliceblue;}
        a:visited{color: aliceblue;}