.bgimage{background-image: url(part2/istockphoto-1307052468-612x612.jpg); background-size: 100%;
    background-attachment: scroll; background-repeat: no-repeat; text-align: center; 
    font-family:'Times New Roman', Times, serif; font-size: 700%; color: rgb(3, 41, 3); 
margin: 0%; padding: 0%;}

body{font-family: 'Times New Roman', Times, serif;
}

div.center {
    text-align: center;
        margin-left: auto;
        margin-right: auto;
      
}


    .footer{background-color: rgb(3, 61, 3); font-size: x-large; text-align: center; 
        color: aliceblue;}
        a:link{color: aliceblue;}
        a:visited{color: aliceblue;}